#!/bin/sh

# configurable variables used on the build slaves and on the build master
# default values are given as comments

# To change variables from their default, copy this file to common.conf,
# uncomment and change the desired variables.

#work_dir="${base_dir}/work"
