#!/bin/sh

# configurable variables used on the build slaves and on the build master
# default values are given as comments

# To change variables from their default, copy this file to common.conf,
# uncomment and change the desired variables.

#work_dir="${base_dir}/work"

#repo_names='packages community archlinux32'
#repo_paths__packages="${work_dir}/repos/packages"
#repo_paths__community="${work_dir}/repos/community"
#repo_paths__archlinux32="${work_dir}/repos/packages32"
