#!/bin/sh

# configurable variables used on the build master
# default values are given as comments

# To change variables from their default, copy this file to common.conf,
# uncomment and change the desired variables.

#repo_key='0xdeadbeef'

# to access the master mirror via rsync
#master_mirror_rsync_command='rsync --password-file=/home/slave/rsync.password'
#master_mirror_rsync_directory='rsync://buildmaster@mirror.archlinux32.org/packages32'

# to access the master mirror via sftp
#master_mirror_sftp_command='sftp -b- user@mirror'

# root directory of the webserver
#webserver_directory='/srv/http'

# directory to keep the build log files in
#build_log_directory='/srv/http/build-logs'

# irc client configuration
#irc_dir='/home/slave/irc/irc.freenode.net'
#irc_password='top_secret'

# list of urls to trigger updates of the respective mirrors
#mirror_refresh_trigger_urls=''

# command to access the mysql database
#mysql_command='mysql buildmaster'

#build_list_lock_file="${work_dir}/build-list.lock"
#sanity_check_lock_file="${work_dir}/sanity-check.lock"
#package_database_lock_file="${work_dir}/package-database.lock"
